/*@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');*/

body {
 /*font should be somehitng like Sans Typewriter*/
  flex: 1 1 auto;
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  flex-direction: row;
}

.header {
  background: rgb(49, 42, 42);
  display: flex;
  
  justify-content: space-between;
  justify-content: center;
  padding-bottom: 30px;
 
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  
}

.profile-image {
  background: rgb(51, 61, 153);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  border-color: blue;
  border: 8px;
}

.logo {
  font-family: sans-serif;
  color: rebeccapurple;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  flex: 0 1 auto;
  padding-left: 10px;
  /*justify-content: space-between;*/
  flex-direction: row;
}

.links{
  justify-content: space-between;
}

button {
  border: none;
  margin: 10px;
  align-content: center;
  border-radius: 8px;
  background: rebeccapurple;
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-color: coral;
  
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
  text-decoration: none;
  flex-direction: row;
}



.nav {
  display: flex;
  align-content: space-between;
  align-items: center;
  width: 800px;
 /*what if the reson i cant do justify content is bc the content 
 is already doing that, what if the content has already filled the container
 its just the container is to small, so it dosetn look like its working
 but in reality it is*/
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 20px;
  padding: 0;
}

.navbar li {
  padding: 10px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #3b3939;
  border-left: 2px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
}







