/*@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');*/

body {
 /*font should be somehitng like Sans Typewriter*/
  flex: 1 1 auto;
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  flex-direction: row;
}

.header {
  background: white;
  display: flex;
  justify-content: space-between;
  justify-content: center;
 
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  border: 8px;
  border: rgb(238, 16, 16);
}

.profile-image {
  background: rgb(51, 61, 153);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  border-color: blue;
  border: 8px;
}

.logo {
  font-family: sans-serif;
  color: rebeccapurple;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  flex: 0 1 auto;
  padding-left: 10px;
  /*justify-content: space-between;*/
  flex-direction: row;
}

.links{
  justify-content: space-between;
}

button {
  border: none;
  margin: 10px;
  align-content: center;
  border-radius: 8px;
  background: rebeccapurple;
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-color: coral;
  
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
  
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
  text-decoration: none;
  flex-direction: row;
}

.navbar {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}





#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: rgb(221, 25, 25);
  text-align: center;
  padding: 10px;
  display: none;
}

